<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commit Activity</title>
    <script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="username" style="display:none;">{{username}}</div>
    <div id="repo" style="display:none;">{{repo}}</div>
    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>

<script src="/js/commit.js"></script>

</body>
</html>